
:root{

  --main-light: #F9FBFC;
  --main-dark: #384354;

  --obscure-light: #c6c8c9;
  --obscure-dark: #111c2b;
  
}

/*@media (prefers-color-scheme : light) {*/

/** light theme **/
:root{
  --background-color: var(--main-light);
  --font-color: var(--obscure-dark);
}
 
/** dark theme **/
[data-theme="dark"]{
  --background-color: var(--main-dark);
  --font-color: var(--obscure-light);
}
