html{
  background-color: var(--background-color);
  color: var(--font-color);
  overflow: hidden;
  word-break: break-word;
  text-overflow: ellipsis;
}
._none{
  display: none
}
._wrapper{
  background-color: var(--background-color);
  color: var(--font-intense);
  height: 100%;
  width: 100%;
}
.scroller{
  overflow-x: hidden;
  overflow-y: auto;
}
.scroller-shadow{
  position: sticky;
  height: 20px;
  width: 100%;
  z-index: 10;
}
.scroller-shadow-bottom{
  bottom: 0;
  margin-top: -20px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.2))
}
.scroller-shadow-top{
  top: 0;
  margin-bottom: -20px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), transparent)
}
/* toggle-button */
.switch{
  min-width: 46px;
  background-color: var(--temp-grey);
  color: white;
  height: 26px;
  position: relative;
  border-radius: 22px;
}
.switch-text{
  margin: 6px 12px 0px 38px;
}
.switch-text.switch-active{
  margin: 6px 38px 0px 12px;
}
.switch-circle{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #00000054;
  border-radius: 50%;
  margin: 3px;
  right: initial;
}
.switch-circle.switch-active{
  left: initial;
  right: 0
}
.switch-circle svg{
  margin: auto;
}